.Rproj.user
.Rhistory
.RData
.Ruserdata
condition1_results_full.csv
condition2_results_full.csv
condition3_results_full.csv
condition4_results_full.csv
condition5_results_full.csv
condition6_results_full.csv
condition7_results_full.csv
condition8_results_full.csv
